<div class="header d-flex justify-content-between bg-light">

    <nav class="nav">
  <a class="nav-link text-dark" href="{% url 'allemployees' %}">Home</a>
  <a class="nav-link text-dark" href="{% url 'allemployees' %}">All employees</a>
  <a class="nav-link text-dark" href="{% url 'addemployee' %}">Add employee</a>
  
  
</nav>

    <ul class="nav justify-content-end">
  
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Logout</a>
  </li>
</ul>


</div>